# dependencies
/node_modules
/.pnp
.pnp.js

# build outputs
/dist
/dist-electron
/release
/coverage

# misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# editor
.idea
*.swp

# OS
Thumbs.db
